{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<h1>You are already logged in</h1>
{% else %}

<div id="login-container" style="padding-top: 2rem">
    <div>
        <img class="hide-on-med-and-down" src="{% static 'assets/store.png' %}" alt="Picture"
            style="margin-top:3rem; width: 90%">
    </div>
    <div>
        <h3 id="login-header">Log In</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-full-width light-blue lighten-3" type="submit">Login</button>
        </form>
        <br>
        <h6 class="center-align">Don't have an account yet?</h6>
        <br>
        <a id="login-register-btn" href="/register">
            <button class="btn btn-full-width lighten-3">
                Register
            </button>
        </a>
    </div>


</div>
{% endif %}

{% endblock content %}