{% extends "base.html" %}

{% block content %}
<ul>
    <li>{{ profile_obj.first_name }}</li>
    <li>{{ profile_obj.last_name }}</li>
    <li>
        <img style="height:100px; width: 100px;" src="/static/media/{{ profile_obj.profile_picture }}"
            alt="Profile Picture">
    </li>
    <li>{{ profile_obj.email }}</li>
    <li>Building {{ profile_obj.building }}</li>
    <li>Floor {{ profile_obj.floor }}</li>
</ul>
<h2>User Items</h2>

{% for item in user_items %}
<ul>
    <li><a href="/thrift/item-detail/{{item.slug}}/">{{ item.name }}</a><span> ${{item.price}}</span></li>
    <li>listed by {{item.user}}</li>
    <li>{{item.description}}</li>
    <li><img style="width: 100px; height: 100px" src="/static/media/{{item.picture}}" alt="Picture of Item"></li>
    <li>Condition: {{item.condition}}</li>
</ul>
<br><br>
{% endfor %}
<h4><a href="/thrift/profile-update/{{profile_obj.slug}}/">Edit Profile</a></h4>
<h3><a href="/thrift/item-create/">+ Item</a></h3>

{% endblock content %}