{% extends "base.html" %}

{% block content %}
<ul>
    <li>{{ profile_obj.first_name }}</li>
    <li>{{ profile_obj.last_name }}</li>
    <li>
        <img style="height:100px; width: 100px;" src="/static/media/{{ profile_obj.profile_picture }}"
            alt="Profile Picture">
    </li>
    <li>{{ profile_obj.email }}</li>
    <li>Building {{ profile_obj.building }}</li>
    <li>Floor {{ profile_obj.floor }}</li>
</ul>
<h2>User Items</h2>

{% for item in user_items %}
<a href="/thrift/item-detail/{{item.slug}}/">
    <h2>{{ item.title }}<span> ${{item.price}}</span></h2>
</a>
<ul>
    <li>listed by {{item.user}}</li>
    <li>{{item.description}}</li>

    <!-- LIST PICTURES -->
    {% if item.image2 %}
    <li><img src="{{item.image1.url}}" alt="" style="width: 100px; height: 100px"></li>
    {% endif %}
    {% if item.image2 %}
    <li><img src="{{item.image2.url}}" alt="" style="width: 100px; height: 100px"></li>
    {% endif %}
    {% if item.image3 %}
    <li><img src="{{item.image3.url}}" alt="" style="width: 100px; height: 100px"></li>
    {% endif %}
    {% if item.image4 %}
    <li><img src="{{item.image4.url}}" alt="" style="width: 100px; height: 100px"></li>
    {% endif %}
    {% if item.image5 %}
    <li><img src="{{item.image5.url}}" alt="" style="width: 100px; height: 100px"></li>
    {% endif %}

    <li>Condition: {{item.condition}}</li>
</ul>
<br><br>
{% endfor %}
<h4><a href="/thrift/profile-update/{{profile_obj.slug}}/">Edit Profile</a></h4>
<h3><a href="/thrift/user-delete/{{user.userprofile.slug}}">Delete Account</a></h3>

<h3><a href="/thrift/item-create/">+ Item</a></h3>

{% endblock content %}