{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/profile-detail.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
{{ profile_obj.profile_picture }}
<!-- User Info -->
<div id="profile-card" class="z-depth-1">
    <img class="z-depth-1" src="/static/media/{{ profile_obj.profile_picture }}" alt="Profile Picture">
    <div id="info-container">
        <div id="name-container">
            <h4>{{ profile_obj.first_name}}</h4>
            <div>
                {% if request.user == profile_obj.user %}
                <!-- edit profile button -->
                <span id="add-item-btn">
                    <a href="/thrift/item-create/" class="btn-floating btn-small waves-effect waves-light green">
                        <i class="material-icons">add</i></a>
                </span>
                <!-- add item button -->
                <span id="edit-profile-btn">
                    <a href="/thrift/profile-update/{{profile_obj.slug}}/"
                        class="btn-floating btn-small waves-effect waves-light blue">
                        <i class="material-icons">edit</i></a>
                </span>
                {% endif %}
            </div>

        </div>

        <!-- <div class="chip light-blue lighten-4">Email: {{ profile_obj.email }}</div> -->
        <p id="contact-method">{{ profile_obj.contact_method }}</p>

    </div>

</div>


<!-- User's listings -->
<h4 class="grey-text text-darken-2 title">Listings</h4>


<div class="row">
    {% for item in items %}
    <!-- {{ item.image1.url }} -->
    <!-- <li><a href="thrift/item-detail/{{item.slug}}/">{{item}}</a></li> -->

    <div class="col s12 m6 l6 xl4">
        <a href=" /thrift/item-detail/{{item.slug}}/">
            <div class="card">
                <!-- <img class="z-depth-1" src="/static/media/{{ item.image1 }}" alt="Profile Picture"> -->
                <div class="card-image" style="background-image: url({{ item.image1.url }})"></div>
                <div class="card-content" style="padding: 0.75rem">
                    <p class="black-text truncate">${{item.price}} | {{item.title}}</p>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}
</div>
{% if request.user == profile_obj.user %}
<a id="delete-account-btn" href="/thrift/user-delete/{{user.userprofile.slug}}"
    class="btn-large waves-effect waves-light red">
    Delete Account?</a>
{% endif %}

{% endblock content %}