<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Thrift</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h3><a href="/logout">logout, {{user.username}}</a></h3>
    {% if not user.userprofile %}
    <h3><a href="/thrift/profile-create/">Make Profile</a></h3>
    {% else %}
    <h3><a href="/thrift/profile-detail/{{user.userprofile.id}}">View Profile</a></h3>
    <h3><a href="/thrift/item-create/">Add Item</a></h3>
    {% endif %}
    {% else %}
    <h3><a href="/login">login</a></h3>
    <h3><a href="/register">register</a></h3>
    {% endif %}

    {% block heading %}
    {% endblock heading %}

    {% block content %}
    {% endblock content %}
</body>

</html>