{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
        integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}

    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>Crystal Thrift</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="light-blue lighten-3">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">Crystal Thrift</a>
                <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="/thrift/item-create/" class="tooltipped" data-position="bottom"
                            data-tooltip="Add Listing"><i class="material-icons">add_box</i></a></li>
                    <li><a href="/search-listings" class="tooltipped" data-position="bottom"
                            data-tooltip="Search Listings"><i class="material-icons">search</i></a></li>
                    {% endif %}
                    {% if user.is_authenticated and user.userprofile %}
                    <li><a href="/thrift/profile-detail/{{user.userprofile.slug}}" class="tooltipped"
                            data-position="bottom" data-tooltip="View Profile" data-delay="1000"><i
                                class="material-icons">account_circle</i></a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated and not user.userprofile %}
                    <li><a href="/thrift/profile-create/">Make Profile</a></li>
                    {% endif %}
                    {% if user.is_authenticated and user.userprofile %}
                    <li><a href="/logout">Logout,
                            {{user.userprofile.first_name}}</a>
                    </li>
                    {% elif user.is_authenticated %}
                    <li><a href="/logout">Logout</a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <br>

        {% if user.is_authenticated %}
        <li><a href="/thrift/item-create/"><i class="small material-icons" style=>add_to_photos</i> New
                Listing</a>
        </li>
        <li><a href="/search-listings/"><i class="small material-icons" style=>search</i> search
                Listings</a>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.userprofile %}
        <li><a href="/thrift/profile-detail/{{user.userprofile.slug}}"> <i
                    class="small material-icons">account_box</i>Profile</a></li>
        {% endif %}
        {% if user.is_authenticated and not user.userprofile %}
        <li><a href="/thrift/profile-create/">Make Profile</a></li>
        {% endif %}
        {% if user.is_authenticated and user.userprofile %}
        <li><a href="/logout"><i class="small material-icons" style=>vpn_key</i>Logout,
                {{user.userprofile.first_name}}</a></li>
        {% elif user.is_authenticated %}
        <li><a href="/logout"><i class="small material-icons" style=>vpn_key</i>Logout</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="/logout"><i class="small material-icons" style=>vpn_key</i>Login</a></li>
        <li><a href="/logout"><i class="small material-icons" style=>assignment_turned_in</i>Register</a></li>
        {% endif %}

    </ul>

    <div class="container section">
        <!-- <h1><a href="/">Home</a></h1> -->
        {% if user.is_authenticated %}
        <!-- <h3><a href="/logout">logout, {{user.username}}</a></h3> -->
        {% if not user.userprofile %}
        <!-- <h3><a href="/thrift/profile-create/">Make Profile</a></h3> -->
        {% else %}
        <!-- <h3><a href="/thrift/profile-detail/{{user.userprofile.slug}}">View Profile</a></h3>
    <h3><a href="/thrift/item-create/">Add Item</a></h3> -->
        {% endif %}
        {% else %}
        <!-- <h3><a href="/login">login</a></h3>
    <h3><a href="/register">register</a></h3> -->
        {% endif %}

        {% block heading %}
        {% endblock heading %}

        {% block content %}
        {% endblock content %}
    </div>
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
        integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            // Initialize materialize form select
            $('select').addClass("browser-default").formSelect();
            $('.sidenav').sidenav();
            $('.tooltipped').tooltip({ enterDelay: 500 });
            // prevents users from submitting form by hitting enter
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });




    </script>
    {% endblock javascript %}

</body>


</html>