{% extends "base.html" %}

{% block heading %}

{% endblock heading %}

{% block content %}

{% if user.is_authenticated %}

<h4 class="grey-text text-darken-2 title">Today's Picks</h4>


<div class="row">
    {% for item in items %}
    <!-- <li><a href="thrift/item-detail/{{item.slug}}/">{{item}}</a></li> -->

    <div class="col s12 m6 l6 xl4">
        <a href=" /thrift/item-detail/{{item.slug}}/">
            <div class="card">
                <div class="card-image" style="background-image: url({{ item.image1.url }})">
                    <!-- <img class="responsive-img" src="{{ item.image1.url }}"> -->
                </div>
                <div class="card-content" style="padding: 0.75rem">
                    <p class="black-text truncate">${{item.price}} | {{item.title}}</p>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}
</div>
{% endif %}
{% endblock content %}